[submodule "NoRMCorre"]
	path = NoRMCorre
	url = https://github.com/flatironinstitute/NoRMCorre.git
[submodule "CaImAn-MATLAB"]
	path = CaImAn-MATLAB
	url = https://github.com/flatironinstitute/CaImAn-MATLAB.git
